<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title>Bot</title>
</head>
<body>
    <div id="container">
        <div id="main">
            <div id="header">
                <div id="imgContainer">
                    <img src="/anmiation.gif" id="anmiation">
                    <p class="arrow"> &#x2192; <span class="telegram"><a href="https://t.me/CEibra_bot"  target="__" class="tele">CEibra</a></span> &#x2190; </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>